body {
    font-family:'Courier New', Courier, monospace;
    background-color: white;
}

p {
    margin: .5rem;
    font-size: large;
}

section {
    text-align: left;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
}

span{
    background-color: yellow;
}


ul {
    list-style-position: outside;
    text-align:left; 
    list-style-type: none;  
    color: forestgreen;
    padding-inline-start: 10px;
    margin-top: 2px;
} 

h1 .el {
    font-size: 2rem;
    align-items: center;
}

h2 {
   font-size: 1rem; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a:link {
    color:forestgreen;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color:darkgreen;
}

grid-container {
    display: flex;
    flex-direction: column;
    max-width: 90vh;
    min-height: 100vh;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr); */
    background-color: white;
    column-gap: 5px;
    row-gap: 5px;   
}

grid-item {
    grid-column: span 1;
    grid-row: span 1;   
}

.icon {
    top: 0;
    left: 0;
    position: sticky;
    max-width: 25%;
}

.right {
    top: 100px;
    border: 10px solid yellow;
    display: flex;
    justify-content: right;
}

.el {
    background-color: white;
    color: black;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 300px auto;
}

.header {
    grid-column: 1 / 10;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.date {
    grid-column: 10 / -1; 
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 10px;
}
.left-box {
    grid-column: 1 / 6;
    grid-row: 2 / 8;
}

.right-box {
    grid-column: 6 / 11;
    grid-row: 2 / 8;
}

.sidebar {
    grid-column: 11 / -1;
    grid-row: 2 / 12;
}

.footer {
    grid-column: 1 / 11;
    grid-row: 8 / 12;
}

