* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    font-family:Arial, Helvetica, sans-serif
}

p {
    width: 50%;
    margin: 1em;
    font-size: medium;
}

span{
    background-color: yellow;
}
figure {
    width: 500px;
    padding: 1rem;
}

.right {
    top: 100px;
    border: 10px solid yellow;
    display: flex;
    justify-content: right;
}